* {
  font-family: Lato;
}

h1, h2, h3, h4, h5 {

}

#kkidslist {
  text-align: center;
  border-radius: 5px;
  background-color: #800080;
  color: #00FFFF;
}

button {
  border-radius: 5px;
  background-color: #FFC0CB;
  color: #000000;
}
